html, body {height: 100%; padding: 0; margin: 0;}
body {background-color: #FFF; color: #000; font: 120% arial; padding: 20px 50px; height: auto;}

h1 a, h1 span{background-color: #789; color: #FFF; padding: 5px 20px 5px 20px;}
h1 a.add, h3 a.add {background-color: #678; text-decoration: none;}
h2 a, h2 span {background-color: #9AB; color: #FFF; padding: 3px 15px 3px 15px;}
h3 a, h3 span {background-color: #ABC; color: #FFF; padding: 3px 15px 3px 15px;}

table {font-size: 100%; border-collapse: collapse;}
p {margin: 0.5em 0;}
img {border: none;}
a {color: #005aa8; text-decoration: underline;}
input[type="text"] {width: 400px; font-size: 120%;}
input[type="text"].short {width: 80px; margin-left: 20px;}
input[type="submit"] {padding: 5px 20px; font-size: 120%;}
textarea {width: 500px;}

.grey {color: #CCC;}
.red {color: #D70;}

div.footer {width: 50%; border-top: 2px solid #CCC; padding: 10px;}
div.footer {font-size: 60%;}