html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: arial, sans-serif;
	font-size: 14px;
	background: #FFF;
	color: #000;
	overflow-y: scroll;
}

#wrapper {
	height: 100%;
}

#tab-wrapper {
	background: #DDD;
}

#tab-wrapper .tab-current {
	background: #FFF;
}

#tab-wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tab-wrapper ul li {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0 10px 3px 10px;
	background: #EEE;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 13px;
}

a {
	color: #234e9e;
}

#tree {
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	background: #222;
	color: #FFF;
	overflow-x: auto;
	overflow-y: auto;
}

#tree div.container {
	margin: 0;
	padding: 10px 5px 10px 10px;
	font-family: arial, sans-serif;
	font-size: 14px;
}

#tree a {
	color: #FFF;
	text-decoration: none;
}

.tree {
	margin: 5px 0 10px 0;
}

#tree div.lemon a {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #b0eb12;
}

div.item {
	margin: 10px 0 5px 0;
	font-size: 11px;
	font-weight: bold;
	color: #e8a700;
}

div.padding {
	margin-left: 5px;
	padding-left: 20px;
}

div.plus {
	width: 11px;
	height: 11px;
	float: left;
	background: #222 url(../img/plus.png);
	margin: 2px 5px 0 0;
	cursor: pointer;
	cursor: hand;
}

div.minus {
	width: 11px;
	height: 11px;
	float: left;
	background: #222 url(../img/minus.png);
	margin: 2px 5px 0 0;
	cursor: pointer;
	cursor: hand;
}

div.empty {
	width: 11px;
	height: 11px;
	float: left;
	margin-left: 5px;
	cursor: pointer;
	cursor: hand;
}

.one div.item {
	font-weight: bold;
	color: #234e9e;
}

.one div.plus {
	background: url(../img/plus2.png);
}

.one div.minus {
	background: url(../img/minus2.png);
}

#browse {
	position: relative;
	top: 0px;
	left: 20%;
	width: 80%;
	height: 100%;
}

#browse div.container {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #FFF;
}

#menu-wrapper {

}

#browse-wrapper {
	padding: 10px;
}

div.button {
	float: left;
	height: 64px;
	margin: 0 5px 0 5px;
	padding: 3px 10px 7px 10px;
	border: 1px solid #EEE;
	border-radius: 5px;
	text-align: center;
	font-size: 13px;
	color: #999;
}

div.disabled img {
	-webkit-filter: grayscale(90%);
	-webkit-filter: grayscale(0.9);
	filter: grayscale(90%);
	opacity: 0.6;
}

div.button:hover {
	border: 1px solid #CCC;
	color: #333;
}

#log {
	clear: both;
	position: fixed;
	left: 0; bottom: 0;
	width: 100%;
	padding: 2px 10px;
	background: #DDD;
	color: #000;
	cursor: pointer;
	cursor: hand;
}

#log ol, ul, p {
	padding: 0px;
}

input[type="text"], input[type="password"], textarea {
	border: 1px solid #999;
	padding-left: 3px;
}

.form-edit input[type="text"], input[type="password"], textarea {
	width: 90%;
}

input.btn, button.btn {
	padding: 5px 10px;
	font-size: 120%;
}

.form-edit input.prop-time {
	width: 20px;
	padding-left: 5px;
}

.form-edit input.prop-number, input.prop-pass {
	width: 150px;
}

.form-edit input.prop-mini {
	width: 300px;
}

span.richtext {
	display: block;
	width: 90%;
	height: 250px;
	overflow-y: auto;
	border: 1px solid #999;
	background: #FFF;
	padding: 2px 5px;
}

textarea.richtext {
	width: 90%;
	height: 350px;
}

div.blank {
	width: 90%;
	border: 1px solid #999;
	background: #FFF;
	padding: 5px 5px;
}

span.error {
	color: #C00;
	font-weight: 800;
}

p.error span {
	text-align: left;
	background: orange;
	color: #FFF;
	font-weight: 800;
	padding: 5px 10px;
}

p.ok {
	color: green;
	font-weight: 800;
}

img.framed {
	border: 1px solid #999;
}

h1, h2, h3 {
	font-weight: normal;
	color: #999;
	margin-top: 10px;
	margin-bottom: 5px;
}

h1 b {
	font-weight: normal;
	color: #666;
}

span.create {
	display: inline;
	margin: 0 10px;
	font-size: 80%;
}

div.href {
	float: right;
	padding-top: 28px;
}

small {
	font-size: 80%;
}

label {
	cursor: pointer;
	cursor: hand;
}

div.path {
	padding: 3px 10px;
	background: #F0F0F0;
	border-radius: 3px;
}

div.form-edit {
	margin: 15px 0px;
	padding: 10px 10px 10px 10px;
	background: #F0F0F0;
	border: 1px solid #CCC;
	border-radius: 5px;
}

div.form-edit .main input {
	font-size: 120%;
}

div.form-search {
	margin: 15px 0px;
	padding: 5px 10px 10px 10px;
	background: #F0F0F0;
	border: 1px solid #CCC;
	border-radius: 5px;
}

div.prop-search {
	float: left;
	margin: 5px 10px 5px 0;
	padding: 5px 10px;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
}

div.item-search {
	float: left;
	margin: 5px 10px 5px 0;
	padding: 5px 10px;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
}

div.item-search-active {
	float: left;
	margin: 5px 10px 5px 0;
	padding: 5px 10px;
	background: #666;
	color: #FFF;
	border-radius: 3px;
}

.element-list-header td {
	padding: 0 0 3px 0;
	border-collapse: collapse;
}

.order_link {
	padding-top: 8px;
	float: right;
	white-space: nowrap;
}

.element-list-header .order_link {
	padding: 6px 0 0 25px;
	font-size: 13px;
}

.order_link img, .em img {
	vertical-align: middle;
}

.order_link a, .em {
	text-decoration: none;
}

.order_link a:hover, .em:hover  {
	text-decoration: none;
}

.order_link em, .em em {
	font-style: normal;
}

table.element-list {
	border-collapse: collapse;
	width: 100%;
	margin: 5px 0px 20px 0px;
}

table.element-list th {
	padding: 1px 5px;
	text-align: left;
	border-bottom: 3px solid #CCC;
	color: #234e9e;
	font-weight: normal;
}

table.element-list th span {
	color: #234e9e;
}

table.element-list td {
	padding: 3px 5px;
	text-align: left;
	border-bottom: 1px solid #EEE;
	vertical-align: top;
}

table.element-list th.first, td.first {
	width: 20px;
}

table.element-list th.first, td.first a {
	text-decoration: none;
}

table.element-list th.last, td.last {
	width: 20px;
}

table.element-list .light {
	background: #EEE;
}

table.element-list .light-hover {
	background: #FAFAFA;
}

table.element-list .center {
	text-align: center;
}

div.prop-search {
	float: left;
	margin: 5px 10px 5px 0;
	padding: 5px 10px;
	background: #FFF;
	white-space: nowrap;
	font-size: 13px;
}

div.prop-search input[type="text"], input[type="radio"], select {
	margin: 7px 5px 3px 0;
}

div.prop-search input.prop-number {
	margin-left: 5px;
	width: 75px;
}

div.prop-search input.prop-date {
	margin-left: 5px;
	margin-right: 0;
	width: 75px;
}

div.prop-search input.prop-time {
	width: 20px;
	padding-left: 5px;
}

div.prop-search input.prop-comment {
	width: 300px;
}

.dashed {
	border-bottom: 1px dashed;
}

.hand {
	cursor: pointer;
	cursor: hand;
}

.dnone {
	display: none;
}

.grey {
	color: #999;
}

.small {
	font-size: 80%;
}

ul.pagination li {
	display: inline;
	margin: 0px 1px;
	padding: 5px 10px;
	background: #EEE;
	font-size: 18px;
}

ul.pagination li:hover {
	background: #CCC;
}

ul.pagination li.active {
	background: #666;
	color: #FFF;
}

ul.pagination li.disabled {
	background: #EEE;
	color: #999;
}

.ui-autocomplete {
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-autocomplete-loading {
	background: white url('/packages/lemon-tree/admin/img/ac-loader.gif') right center no-repeat;
}

